# Java & Maven
target/
*.class
*.jar
*.war
*.ear

# Node Dependencies (Frontend)
client/ro-phim-legacy-client/node_modules/
client/ro-phim-legacy-client/dist/
node_modules/
dist/

# Go build artifacts
Server/RoPhimLegacyServer/app
Server/RoPhimLegacyServer/bin/
*.exe
*.dll
*.out

# IDE & OS files
.DS_Store
.vscode/
.idea/
nbproject/private/
nbbuild/
nbdist/
build/
*.iml

# Environment & Secrets
Client/ro-phim-legacy-client/.env
Server/RoPhimLegacyServer/.env
.env
*.env
*.log
# Exception
!.env.example