/* StreamMovie.css */
.stream-wrapper {
    min-height: 100vh;
    padding-bottom: 50px;
}

.react-player-container {
    position: relative;
    height: 80vh;
    /* Giảm xuống một chút để chừa chỗ cho nội dung bên dưới */
    background-color: #000;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}

@media (max-width: 768px) {
    .react-player-container {
        height: 40vh;
        /* Tối ưu cho điện thoại */
    }
}