@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');

:root {
    --primary-color: #0dcaf0;
    --bg-dark: #121212;
    --card-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-dark);
    color: white;
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
}

.bg-dark .text-muted {
    color: rgba(255, 255, 255, 0.6) !important;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: var(--bg-dark);
}

::-webkit-scrollbar-thumb {
    background: #333;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--primary-color);
}


a {
    text-decoration: none;
    color: inherit;
    transition: 0.3s;
}

.form-control::placeholder {
    color: rgba(255, 255, 255, 0.5) !important;

    font-style: italic;

}

.form-control:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.5) !important;
}